#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 3em;
  padding: .5em;
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0px 0px 2em #ff0026);
}
.logo.twitch {
  filter: drop-shadow(0px 0px 2em #bb00ff);
}

.card {
  padding: 1em;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
}

.copyright {
  color: #888;
}

.gradientText {
  position: relative;
  z-index: 1;
  background-image: linear-gradient(to right, rgb(145,70,255), rgb(255,70,85)); 
  color: transparent;
  filter: drop-shadow(1px 1px .4em #000000);
  -webkit-background-clip: text;
}


/* Card Example 임시 CSS */

.members {
  border-radius: 8px;
  background-image: url("./images/bg.jpg");
  background-size: cover;
  background-color: transparent;
  padding: 100px 0em 100px 0em;
  margin: 2em 0em 2em 0em;
}

.members > h2 {
  font-size: 2em;
  margin: 0 0 0 0;
  color: #FFFFFF;
  filter: drop-shadow(0px 0px .2em #000000);
}

.members > span {
  color: #ffffff;
  filter: drop-shadow(0 0 .2em #000000);
}